---
export interface Project {
    title: string;
    text: string;
    image: string;
    url: string;
    technologies: string;
}

const { title, text, image, url, technologies } = Astro.props;
---

<section
    class="mt-10 text-white font-sans bg-zinc-900 flex place-content-evenly w-full py-10"
>
    <img src={image} alt={title} width="50%" height="50%"/>
    <div>
        <h2 class="font-bold underline text-2xl text-rose-400"><a href={url}>{title}</a></h2>
        <p class="mt-2 italic">
            Technologies used: {technologies}
        </p>
        <p class="mt-5">
            {text}
        </p>
    </div>
</section>
